body{
    background-image: url(./img/sky.jpg );
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0 10px;
}
h1{
    color: white;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .menu-item{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 10px;
}

.text{
    text-align: center;
    margin-top: 215px;
}

h2{
     color: white;
     font-size: 43px ;
}
